root = true

# https://raw.githubusercontent.com/CppCXY/EmmyLuaCodeStyle/HEAD/docs/format_config.md
[*.lua]
quote_style = double
max_line_length = unset
align_continuous_assign_statement = false
align_continuous_rect_table_field = false
align_if_branch = false
align_array_table = false
trailing_table_separator = smart

[config/claude/settings.json]
insert_final_newline = false
