[init]
	defaultBranch = main

[user]
	email = joshuali925@gmail.com
	name = Joshua Li

[alias]
	open = "!git remote get-url origin | sed -e 's,git@\\([^:]\\+\\):,https://\\1/,' -e 's/\\.git$//' | if command -v open > /dev/null 2>&1; then xargs open; else y; fi"
	count = shortlog -sne
	abort = "!$(git status | grep -o 'git \\(merge\\|cherry-pick\\|rebase\\|revert\\) --abort' | head -n 1)"
	continue = "!$(git status | grep -o 'git \\(merge\\|cherry-pick\\|rebase\\|revert\\) --continue' | head -n 1)"

; [credential]
; 	helper = store

[url "https://github.com/"]
	insteadOf = gh:

[url "git@github.com:joshuali925/"]
	insteadOf = jos:

[url "https://github.com/joshuali925/"]
	insteadOf = josh:

[url "https://github.com/opensearch-project/"]
	insteadOf = os:

[url "https://github.com/opensearch-project/dashboards-"]
	insteadOf = osd:

[core]
	longpaths = true
	; pager = less -RiMXF
	; pager = diff-so-fancy | less -RiMXF
	pager = delta --line-numbers --navigate --features "${DELTA_THEME:-dark-theme}"

[interactive]
	; diffFilter = diff-so-fancy --patch
	diffFilter = delta --line-numbers --features "${DELTA_THEME:-dark-theme}"

[diff]
	renames = copies
	renameLimit = 10000

[fetch]
	prune = true
	writeCommitGraph = true

[pull]
	rebase = true

[commit]
	verbose = true

[rebase]
	autoStash = true
	autoSquash = true

[merge]
	conflictstyle = diff3
	tool = vimdiff

[diff]
	; colorMoved = default

[blame]
	coloring = highlightRecent

[rerere]
	enabled = true
	autoupdate = true

[color]
	ui = true

[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "blame"]
	highlightRecent = 238, 36 month ago, 240, 24 month ago, 242, 12 month ago, 244, 6 month ago, 246, 2 month ago, 248, 1 month ago, 250, 3 weeks ago, 231, 2 weeks ago, 230, 1 week ago, 229, 3 days ago, 228, 1 day ago, 227

[diff-so-fancy]
	stripLeadingSymbols = false

[delta]
	hunk-header-style = line-number syntax bold
	hunk-header-line-number-style = white
	hunk-header-decoration-style = "#4b5263" box
	file-style = "#e5b34a" italic
	file-decoration-style = "#e5b34a" ul
	line-numbers-zero-style = "#4b5263"
	line-numbers-left-format = "{nm:^4} "
	line-numbers-right-format = "{np:^4} "

[delta "light-theme"]
	light = true
	syntax-theme = GitHub

[delta "dark-theme"]
	light = false
	syntax-theme = ansi
	map-styles = bold purple => syntax "#330f29", bold blue => syntax "#271344", bold cyan => syntax "#0d3531", bold yellow => syntax "#222f14"  ; for colorMoved
