# yaml-language-server: $schema=https://raw.githubusercontent.com/jesseduffield/lazygit/master/schema/config.json
# https://raw.githubusercontent.com/jesseduffield/lazygit/HEAD/docs/Config.md
git:
  autoFetch: true
  commit:
    signOff: true
  pagers:
    - colorArg: always
      pager: delta --paging=never --24-bit-color=always --features=no-line-numbers
  branchLogCmd: git log --color --graph --pretty=simple {{branchName}} --
  allBranchesLogCmds:
    - git log --color --graph --format=simple-iso --all
gui:
  showCommandLog: false # @ to toggle
  showFileTree: false # ` to toggle
  showBranchCommitHash: true
  showBottomLine: false
  useHunkModeInStagingView: true
  theme:
    activeBorderColor:
      - cyan
      - bold
    inactiveBorderColor:
      - white
    optionsTextColor:
      - cyan
    selectedLineBgColor:
      - black
    cherryPickedCommitBgColor:
      - yellow
    cherryPickedCommitFgColor:
      - magenta
    unstagedChangesColor:
      - red
notARepository: skip
disableStartupPopups: true
promptToReturnFromSubprocess: false
keybinding:
  universal:
    prevPage: <c-u>
    nextPage: <c-d>
    gotoTop: g
    gotoBottom: G
    scrollLeft: <left>
    scrollRight: <right>
    prevBlock: H
    nextBlock: L
    jumpToBlock: ["0", "1", "2", "3", "4"]
    openRecentRepos: <disabled>
    scrollUpMain-alt2: .
    scrollDownMain-alt2: ","
    nextScreenMode: _
    prevScreenMode: =
    undo: u
    redo: <c-r>
  commits:
    viewResetOptions: <c-r>
    moveDownCommit: J
    moveUpCommit: K
    resetCherryPick: <disabled>
customCommands:
  - key: <c-y>
    context: commits
    description: Copy command to apply selected commits
    command: printf " git -C '$(pwd)' format-patch --stdout {{.SelectedCommitRange.From}}^..{{.SelectedCommitRange.To}} | git am -3" | y
  - key: <c-a>
    context: files
    description: Add all files to be tracked
    command: git add --all --intent-to-add
  - key: <c-g>
    context: files
    description: Run eslint fix for OSD
    command: node scripts/precommit_hook --fix
  - key: <c-g>
    context: commits
    description: Amend latest commit with sign-off
    command: git commit --amend --signoff --no-edit
