Host *
    ServerAliveInterval 47
    ServerAliveCountMax 120
    Compression yes
    ControlMaster auto
    # TOKEN section under man ssh_config
    ControlPath ~/.ssh/master_%r_%C
    # ControlPersist 10h
    # ForwardAgent yes

Host *.trycloudflare.com
    HostName %h
    Port 22
    ProxyCommand cloudflared access ssh --hostname %h
