# vim:ft=zsh

zmodule romkatv/powerlevel10k --on-pull "$ZIM_HOME/modules/powerlevel10k/gitstatus/install"

zmodule gradle/gradle-completion --fpath .
zmodule completion

zmodule agkozak/zsh-z
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
# zmodule marlonrichert/zsh-autocomplete
zmodule ~/.vim/config/zsh --source key-bindings.zsh  # ohmyzsh/ohmyzsh is too large
zmodule Aloxaf/fzf-tab
